@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

*{
  font-family: 'Inter', sans-serif;
  }
  
  
  
  /* ------- menu ---------- */
 
  
  
  /* ------------- header --------------*/
  .header{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  /* -------- main ------------ */
  
  
  /* footer */
  
  
  
  
  /* carousel */
  
  
  
  @media (max-width: 576px) {
      
  }
  
  @media (min-width: 576px) {
  
  }
  
  @media (max-width: 767px) {
      
  }
  
  @media (min-width: 767px) {
  
  }
  @media (max-width: 991.98px) {
    
  }
  @media (min-width: 992px) {
    
  }
  @media (max-width: 992px) {
   
    
  }
  @media (min-width: 1400px) {
    
  }